body{
   
    background-color: #fefefd;
    font-family: 'Montserrat', sans-serif;
}


/*HEADER*/
h1{
font-color: black;
font-family: 'Shadows Into Light', cursive;
font-weight: 700;
text-align: center;
font-size: 75px;
height: 50px;
}

/*SUB HEADER*/
h2{color:black;
font-family: 'Shadows Into Light', cursive;
font-weight: 700;
text-align: center;
font-size: 25px;}


/* NAV BAR*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 200px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #f3f3f3;
}



