<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">


<head>
  <title>About</title>
  <link rel="stylesheet" href="../stylesheets/About.css">
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>

<h1><a href="../index.html">SANDRA</a></h1>
<h2>Graphic Designer and Illustrator</h2>

<ul>
  

  <li><a href="../templates/about.html">About</a></li>
  <li><a href="../templates/work.html">Work</a></li>
  <li><a href="../templates/contact.html">Contact</a></li>

</ul>


<div class="one">
<img src="../images/me.jpg" alt="me" style="width:20%;">
<img src="../images/thought.jpg" alt="me" style="width:20%">
<img src="../images/bam.jpg" alt="me" style="width:20%">
<img src="../images/curly.png" alt="me" style="width:20%">
</div>

<div id="test"></div>

<div>I am a student at Fordham University majoring in New Media and Digital Design, minoring in Visual Arts, and concentrating on Art, Text, and Design. 
I love bold colors, improving my skills to create fun self-portraits and burritos. I grew up watching my cousins spray paint their rooms and my aunts sculpt life like creatures out of pumpkins. Art and design have played a major role in my life... </div>








</body>
</html>