<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<head>
<title>Work</title>

<link rel="stylesheet" href="../stylesheets/work.css">
<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

</head>


<body>

<h1><a href="../index.html">SANDRA</a></h1>
<h2>Graphic Designer and Illustrator</h2>


<!--NAV BAR--> 
<ul>
  
  <li><a href="../templates/about.html">About</a></li>
  <li><a href="../templates/work.html">Work</a></li>
  <li><a href="../templates/contact.html">Contact</a></li>

</ul>

<!--My 41 Images-->

<div id="test"></div>

	<div class="work">
<img src="../images/elena.jpg" alt="elena" style="width:20%">
<img src="../images/shocked.jpg" alt="me" style="width:20%">
<img src="../images/Sister.png" alt="Sister" style="width:20%">
<img src="../images/Biggie.png" alt="sis" style="width:20%">
</div>

<div id="test"></div>

<div class="work">
<img src="../images/convo.jpg" alt="selfie" style="width:81%">
</div>

<div id="test"></div>

<div class="work">
<img src="../images/girl.png" alt="girl" style="width:20%">
<img src="../images/Bean.png" alt="Bean" style="width:20%">
<img src="../images/suitcase.png" alt="me" style="width:20%">
 <img src="../images/Eva.png" alt="baby" style="width:20%">
</div>

<div id="test"></div>

<div class="work">
<img src="../images/prtwo.jpg" alt="pr" style="width:20%">
<img src="../images/lihysi.png" alt="pr" style="width:20%">
<img src="../images/lihysishirt.jpg" alt="pr" style="width:20%">
<img src="../images/prone.jpg" alt="pr" style="width:20%">
</div>

<div id="test"></div>

<div class="work">
<img src="../images/Frank.png" alt="Frank" style="width:20%">
<img src="../images/Fred.png" alt="dad" style="width:20%">
<img src="../images/kelly.png" alt="selfie" style="width:20%">
<img src="../images/selfie.png" alt="selfie" style="width:20%">
</div>

<div id="test"></div>

<div class="work">
 <img src="../images/Colin.png" alt="selfie" style="width:20%">
 <img src="../images/Ashley.png" alt="selfie" style="width:20%">
 <img src="../images/celia.png" alt="selfie" style="width:20%">
 <img src="../images/nikita.png" alt="selfie" style="width:20%">
</div>

<div id="test"></div>

<div class="work">
<img src="../images/Charles.png" alt="Charles" style="width:20%">
 <img src="../images/Josie.png" alt="Josie" style="width:20%">
 <img src="../images/thania.png" alt="thania" style="width:20%">
 <img src="../images/couple.png" alt="couple" style="width:20%">
</div>

<div id="test"></div>

<div class="work">
	<img src="../images/blake.jpg" alt="me" style="width:20%">
	<img src="../images/bellion.jpg" alt="me" style="width:20%">
	<img src="../images/george.jpg" alt="me" style="width:20%">
	<img src="../images/dream.jpg" alt="me" style="width:20%">
</div>

<div id="test"></div>

<div class="work">
	<img src="../images/swan.jpg" alt="me" style="width:20%">
	<img src="../images/music.jpg" alt="me" style="width:20%">
	<img src="../images/dan.jpg" alt="me" style="width:20%">
	<img src="../images/jenkins.jpg" alt="me" style="width:20%">
</div>

<div id="test"></div>

<div class="work">
	<img src="../images/cry.jpg" alt="me" style="width:20%">
	<img src="../images/model.jpg" alt="me" style="width:20%">
	<img src="../images/ally.png" alt="ally" style="width:20%">
	<img src="../images/auxi.jpg" alt="ally" style="width:20%">
</div>

<div id="test"></div>

<div class="work">
	<img src="../images/statehoodone.png" alt="me" style="width:20%">
	<img src="../images/plant.jpg" alt="me" style="width:20%">
	<img src="../images/prst.jpg" alt="me" style="width:20%">
	<img src="../images/boom.jpg" alt="me" style="width:20%">
</div>

<div id="test"></div>

</body>
</html>

